img{    
    text-align: center;
    border-radius: 75px;
    padding: 35px;
    width: 500px;
    
    

}
nav{
    font-size: 35px;
    
}
h1{
    text-align: center;
}

div{
    text-align: center;
}

